solutions/AXIRPA/Workflows/Email-StartFlow-F8250698-2551-EB11-A813-000D3A9D27B0.json
{"properties":{"connectionReferences":{"shared_conversionservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"axirpa_sharedconversionservice_e5c13"},"api":{"name":"shared_conversionservice"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"axirpa_sharedsendmail_3451d"},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"axirpa_sharedcommondataserviceforapps_0eb05"},"api":{"name":"shared_commondataserviceforapps"}},"shared_uiflow":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"axirpa_shareduiflow_ec7f7"},"api":{"name":"shared_uiflow"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"axirpa_sharedoffice365_a61ef"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Wanneer_er_een_nieuwe_e-mail_binnenkomt_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"Id::AAMkADA4NzczYWM1LWViZjktNGRiMC1iY2QxLWY2OGI4Nzc5Y2U4OQAuAAAAAABbIcH9JCQ5SKB21iPqbSwpAQBhtKnh6BoVQLy7r4i43A21AAAT8_PjAAA=":"Flows"},"type":"OpenApiConnectionNotification","inputs":{"host":{"connectionName":"shared_office365","operationId":"OnNewEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"folderPath":"Id::AAMkADA4NzczYWM1LWViZjktNGRiMC1iY2QxLWY2OGI4Nzc5Y2U4OQAuAAAAAABbIcH9JCQ5SKB21iPqbSwpAQBhtKnh6BoVQLy7r4i43A21AAAT8_PjAAA=","includeAttachments":false,"subjectFilter":"Flow","importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"concurrency":{"runs":1}}}},"actions":{"CRLF":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CRLF","type":"string","value":"\n"}]}},"Parse_Email_Parameters":{"actions":{"Html_to_text":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_conversionservice","operationId":"HtmlToText","apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice"},"parameters":{"Content":"<p>@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}},"Split_Email_Body_Into_Array":{"runAfter":{"Html_to_text":["Succeeded"]},"type":"Compose","inputs":"@split(\r\n    trim(\r\n        uriComponentToString(\r\n            replace(\r\n                uriComponent(\r\n                    body('Html_to_text')\r\n                ),\r\n                '%0A',\r\n                '~~'\r\n            )\r\n        )\r\n    ),\r\n    '~~'\r\n)"},"Filter_Empty_Lines":{"runAfter":{"Split_Email_Body_Into_Array":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Split_Email_Body_Into_Array')","where":"@not(equals(item(), ''))"}},"Get_Flow":{"runAfter":{"Filter_Empty_Lines":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Split_Email_Body_Into_Array')","where":"@startsWith(item(), 'Flow')"}},"If_No_Flow":{"actions":{"No_Flow":{"runAfter":{"Send_No_Flow":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_No_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt - Flow ontbreekt","request/text":"<p>Beste,<br>\n<br>\nDe flow kon niet gestart worden omdat er geen Flow is opgegeven. Geef met behulp van de volgende structuur informatie door:<br>\n<br>\n<br>\nFlow &lt;Flow naam&gt;<br>\nUsername &lt;Username&gt;<br>\n<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Flow":["Succeeded"]},"else":{"actions":{"Set_FlowParam":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FlowParam","value":"@{\ttrim(\r\n\t\treplace(\r\n\t\t\tcoalesce(\r\n\t\t\t\tbody('Get_Flow')?[0],\r\n\t\t\t\t'Flow'\r\n\t\t\t),\r\n\t\t\t'Flow',\r\n\t\t\t''\r\n\t\t)\r\n\t)}"}}}},"expression":{"equals":["@length(\r\n\ttrim(\r\n\t\treplace(\r\n\t\t\tcoalesce(\r\n\t\t\t\tbody('Get_Flow')?[0],\r\n\t\t\t\t'Flow'\r\n\t\t\t),\r\n\t\t\t'Flow',\r\n\t\t\t''\r\n\t\t)\r\n\t)\r\n)",0]},"type":"If"},"Get_Username":{"runAfter":{"If_No_Flow":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Split_Email_Body_Into_Array')","where":"@startsWith(item(), 'Username')"}},"If_No_Username":{"actions":{"No_Username":{"runAfter":{"Send_No_Username":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_No_Username":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt - Username ontbreekt","request/text":"<p>Beste,<br>\n<br>\nDe flow \"@{variables('FlowParam')}\" kon niet gestart worden omdat er geen Username is opgegeven. Geef met behulp van de volgende structuur informatie door:<br>\n<br>\n<br>\nFlow &lt;Flow naam&gt;<br>\nUsername &lt;Username&gt;<br>\n<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Username":["Succeeded"]},"else":{"actions":{"Set_UsernameParam":{"runAfter":{},"type":"SetVariable","inputs":{"name":"UsernameParam","value":"@{trim(\r\n\treplace(\r\n\t\tcoalesce(\r\n\t\t\tbody('Get_Username')?[0],\r\n\t\t\t'Username'\r\n\t\t),\r\n\t\t'Username',\r\n\t\t''\r\n\t)\r\n)}"}}}},"expression":{"equals":["@length(\r\n\ttrim(\r\n\t\treplace(\r\n\t\t\tcoalesce(\r\n\t\t\t\tbody('Get_Username')?[0],\r\n\t\t\t\t'Username'\r\n\t\t\t),\r\n\t\t\t'Username',\r\n\t\t\t''\r\n\t\t)\r\n\t)\r\n)",0]},"type":"If"},"Opstellen":{"runAfter":{"If_No_Username":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n    replace(\r\n\t\tbody('Get_Flow')?[0],\r\n\t\t'Flow ',\r\n\t\t''\r\n\t),\r\n    variables('CRLF'),\r\n    replace(\r\n\t\tbody('Get_Username')?[0],\r\n\t\t'Username ',\r\n\t\t''\r\n\t)\r\n)"}},"runAfter":{"Init_Password":["Succeeded"]},"type":"Scope"},"Init_Password":{"runAfter":{"FlowParam":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Password","type":"string"}]}},"Init_Username":{"runAfter":{"Init_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Username","type":"string"}]}},"Init_URL":{"runAfter":{"Init_Parameters":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"URL","type":"string"}]}},"Init_Parameters":{"runAfter":{"Init_UserParameterCount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Parameters","type":"object","value":{}}]}},"Init_UserParameterCount":{"runAfter":{"Init_FlowID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowParameterCount","type":"integer","value":0}]}},"Init_FlowID":{"runAfter":{"CRLF":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowID","type":"string"}]}},"UsernameParam":{"runAfter":{"Init_Username":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UsernameParam","type":"string"}]}},"FlowParam":{"runAfter":{"UsernameParam":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FlowParam","type":"string"}]}},"Prepare_Data":{"actions":{"List_Flow":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"axirpa_flows","$select":"axirpa_flowid","$filter":"axirpa_name eq '@{variables('FlowParam')}'","$top":1},"authentication":"@parameters('$authentication')"}},"If_no_Flow_found":{"actions":{"Send_No_Flow_Exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt - Flow \"@{variables('FlowParam')}\" bestaat niet.","request/text":"<p>Beste,<br>\n<br>\nDe flow \"@{variables('FlowParam')}\" bestaat niet.<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}},"End_No_Flow":{"runAfter":{"Send_No_Flow_Exists":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"List_Flow":["Succeeded"]},"expression":{"equals":["@empty(body('List_Flow')?['value'])","@true"]},"type":"If"},"Set_FlowID_and_List_Flow_Parameters":{"foreach":"@outputs('List_Flow')?['body/value']","actions":{"Set_FlowID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"FlowID","value":"@items('Set_FlowID_and_List_Flow_Parameters')?['axirpa_flowid']"}},"List_Flow_Parameters":{"runAfter":{"Set_FlowID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"axirpa_flow_parameters","$select":"axirpa_name","$filter":"_axirpa_flow_value eq '@{variables('FlowID')}'"},"authentication":"@parameters('$authentication')"}},"Set_FlowParameterCount":{"runAfter":{"List_Flow_Parameters":["Succeeded"]},"type":"SetVariable","inputs":{"name":"FlowParameterCount","value":"@length(body('List_Flow_Parameters')?['value'])"}}},"runAfter":{"If_no_Flow_found":["Succeeded"]},"type":"Foreach"},"List_User_Flow_Parameters":{"runAfter":{"Set_FlowID_and_List_Flow_Parameters":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"axirpa_user_flow_parameters","$select":"axirpa_value","$filter":"axirpa_username eq '@{variables('UsernameParam')}' and axirpa_flow_parameter/_axirpa_flow_value eq '@{variables('FlowID')}'","$expand":"axirpa_flow_parameter($select=axirpa_name;$filter=_axirpa_flow_value eq '@{variables('FlowID')}')"},"authentication":"@parameters('$authentication')"}},"If_no_User_Flow_Parameters_found":{"actions":{"End_Missing_Parameters":{"runAfter":{"Send_Missing_Parameters":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_Missing_Parameters":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@triggerOutputs()?['body/from']","request/subject":"Flow mislukt - Ontbrekende parameters ","request/text":"<p>Beste,<br>\n<br>\n@{length(body('List_User_Flow_Parameters')?['value'])} parameters gevonden voor gebruiker \"@{variables('UsernameParam')}\", maar @{variables('FlowParameterCount')} zijn verplicht voor flow \"@{variables('FlowParam')}\".<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_User_Flow_Parameters":["Succeeded"]},"expression":{"and":[{"equals":["@length(body('List_User_Flow_Parameters')?['value'])",0]},{"less":["@length(body('List_User_Flow_Parameters')?['value'])","@variables('FlowParameterCount')"]}]},"type":"If"},"List_Environment_Variable_Definitions":{"runAfter":{"If_no_User_Flow_Parameters_found":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"schemaname, environmentvariabledefinitionid","$filter":"schemaname eq 'axirpa_axi_erp_solutions_url' or\nschemaname eq 'axirpa_axi_erp_solutions_username' or\nschemaname eq 'axirpa_axi_erp_solutions_password'"},"authentication":"@parameters('$authentication')"}},"Loop_Environment_Variable_Definitions":{"foreach":"@outputs('List_Environment_Variable_Definitions')?['body/value']","actions":{"List_Environment_Variable_Values":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq '@{items('Loop_Environment_Variable_Definitions')?['environmentvariabledefinitionid']}'","$top":1},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["inputs","outputs"]}}},"Switch_Schemaname":{"runAfter":{"List_Environment_Variable_Values":["Succeeded"]},"cases":{"Case_'axirpa_axi_erp_solutions_url'":{"case":"axirpa_axi_erp_solutions_url","actions":{"Set_URL":{"runAfter":{},"type":"SetVariable","inputs":{"name":"URL","value":"@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"}}}},"Case_'axirpa_axi_erp_solutions_username'":{"case":"axirpa_axi_erp_solutions_username","actions":{"Set_Username":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Username","value":"@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"}}}},"Case_'axirpa_axi_erp_solutions_password'":{"case":"axirpa_axi_erp_solutions_password","actions":{"Set_Password":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Password","value":"@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"}}}}},"default":{"actions":{}},"expression":"@items('Loop_Environment_Variable_Definitions')?['schemaname']","type":"Switch"}},"runAfter":{"List_Environment_Variable_Definitions":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":3}}}},"runAfter":{"Parse_Email_Parameters":["Succeeded"]},"type":"Scope"},"Execute_Flow":{"actions":{"Select_Parameters":{"runAfter":{},"type":"Select","inputs":{"from":"@outputs('List_User_Flow_Parameters')?['body/value']","select":{"Name":"@item()?['axirpa_flow_parameter/axirpa_name']","Value":"@if(equals(item()?['axirpa_value'], null), '', item()?['axirpa_value'])"}}},"Loop_through_selected_parameters":{"foreach":"@body('Select_Parameters')","actions":{"Compose_Parameters":{"runAfter":{},"type":"Compose","inputs":"@setProperty(variables('Parameters'), item().Name, item().Value)"},"Add_Parameter_to_Parameters":{"runAfter":{"Compose_Parameters":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Parameters","value":"@outputs('Compose_Parameters')"}}},"runAfter":{"Select_Parameters":["Succeeded"]},"type":"Foreach"},"Switch_Flowname":{"runAfter":{"Loop_through_selected_parameters":["Succeeded"]},"cases":{"Case__'Betaalopdracht'":{"case":"Betaalopdracht","actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@variables('Parameters')","schema":{"type":"object","properties":{"Dagboek":{"type":"string"},"Betaaldatum":{"type":"string"},"SEPABetaling":{"type":"string"},"OpnameSEPATransactieNietInEuro":{"type":"string"},"Valuta":{"type":"string"},"KlantOfLeverancier":{"type":"string"},"AlleBetaalgroepen":{"type":"string"},"EnkelBetaalgroep":{"type":"string"},"AlleKlantenOfLeveranciersGroepen":{"type":"string"},"EnkelKlantenOfLeveranciersgroep":{"type":"string"},"AlleKlantenOfLeveranciers":{"type":"string"},"EnkelKlantOfLeverancier":{"type":"string"},"Goedgekeurd":{"type":"string"},"Betaalverbod":{"type":"string"},"VanafDocumentdatum":{"type":"string"},"TotEnMetDocumentdatum":{"type":"string"},"VanafVervaldatum":{"type":"string"},"TotEnMetVervaldatum":{"type":"string"},"UitsluitenCreditsaldo":{"type":"string"},"EnkelDocumentenOpTijdVoorKorting":{"type":"string"},"AlleDagboeken":{"type":"string"},"EnkelTransactiesUitDagboek":{"type":"string"}}}}},"Betaalopdracht":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_uiflow","operationId":"RunUIFlow_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_uiflow"},"parameters":{"uiFlowId":"182e7540-ffe4-41e1-bc2b-2bdb63c040ff","runMode":"attended","item/Dagboek":"@body('Parse_JSON')?['Dagboek']","item/Betaaldatum":"@body('Parse_JSON')?['Betaaldatum']","item/SEPABetaling":"@body('Parse_JSON')?['SEPABetaling']","item/OpnameSEPATransactieNietInEuro":"@body('Parse_JSON')?['OpnameSEPATransactieNietInEuro']","item/Valuta":"@body('Parse_JSON')?['Valuta']","item/KlantOfLeverancier":"@body('Parse_JSON')?['KlantOfLeverancier']","item/AlleBetaalgroepen":"@body('Parse_JSON')?['AlleBetaalgroepen']","item/EnkelBetaalgroep":"@body('Parse_JSON')?['EnkelBetaalgroep']","item/AlleKlantenOfLeveranciersgroepen":"@body('Parse_JSON')?['AlleKlantenOfLeveranciersGroepen']","item/EnkelKlantOfLeveranciersgroep":"@body('Parse_JSON')?['EnkelKlantenOfLeveranciersgroep']","item/AlleKlantenOfLeveranciers":"@body('Parse_JSON')?['AlleKlantenOfLeveranciers']","item/EnkelKlantOfLeverancier":"@body('Parse_JSON')?['EnkelKlantOfLeverancier']","item/Goedgekeurd":"@body('Parse_JSON')?['Goedgekeurd']","item/Betaalverbod":"@body('Parse_JSON')?['Betaalverbod']","item/VanafDocumentdatum":"@body('Parse_JSON')?['VanafDocumentdatum']","item/TotEnMetDocumentdatum":"@body('Parse_JSON')?['TotEnMetDocumentdatum']","item/VanafVervaldatum":"@body('Parse_JSON')?['VanafVervaldatum']","item/TotEnMetVervaldatum":"@body('Parse_JSON')?['TotEnMetVervaldatum']","item/UitsluitenCreditsaldo":"@body('Parse_JSON')?['UitsluitenCreditsaldo']","item/EnkelDocumentOpTijdVoorKorting":"@body('Parse_JSON')?['EnkelDocumentenOpTijdVoorKorting']","item/AlleDagboeken":"@body('Parse_JSON')?['AlleDagboeken']","item/EnkelTransactiesUitDagboek":"@body('Parse_JSON')?['EnkelTransactiesUitDagboek']"},"authentication":"@parameters('$authentication')"}},"If_Betaalopdracht_Failed":{"actions":{"Send_Flow_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt","request/text":"<p>Beste,<br>\n<br>\nEr is tijdens het uitvoeren van de flow \"@{variables('FlowParam')}\" een fout opgetreden:<br>\n<br>\n@{outputs('Betaalopdracht')?['body/ErrorMessage']}<br>\n<br>\nParameters:<br>\n@{outputs('Betaalopdracht')?['body/Parameters']}<br>\n<br>\nLog:<br>\n@{outputs('Betaalopdracht')?['body/Log']}<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Betaalopdracht":["Succeeded"]},"else":{"actions":{"Send_Flow_Success":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow geslaagd","request/text":"<p>Beste,<br>\n<br>\nDe flow \"@{variables('FlowParam')}\" is succesvol uitgevoerd:<br>\n<br>\n@{outputs('Betaalopdracht')?['body/SuccessMessage']}<br>\n<br>\nParameters:<br>\n@{outputs('Betaalopdracht')?['body/Parameters']}<br>\n<br>\nLog:<br>\n@{outputs('Betaalopdracht')?['body/Log']}<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Betaalopdracht')?['body/Success']","False"]},"type":"If"}}}},"default":{"actions":{}},"expression":"@variables('FlowParam')","type":"Switch"}},"runAfter":{"Logging_In":["Succeeded"]},"type":"Scope"},"Logging_In":{"actions":{"Login":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_uiflow","operationId":"RunUIFlow_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_uiflow"},"parameters":{"uiFlowId":"6af867e6-9469-4cb9-93be-42e171198f0c","runMode":"attended","item/URL":"@variables('URL')","item/Username":"@variables('Username')","item/Password":"@variables('Password')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"If_Login_Failed":{"actions":{"Send_Login_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt - Inloggen mislukt","request/text":"<p>Beste,<br>\n<br>\nEr is tijdens het inloggen een fout opgetreden:<br>\n<br>\n@{outputs('Login')?['body/ErrorMessage']}<br>\n<br>\nParameters:<br>\n@{outputs('Login')?['body/Parameters']}<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}},"End_Login_Failed":{"runAfter":{"Send_Login_Error":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Login":["Succeeded"]},"expression":{"equals":["@outputs('Login')?['body/Success']","False"]},"type":"If"},"Login_Execution_Failed":{"actions":{"Send_Login_Execution_Failed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/from']};","request/subject":"Flow mislukt - Inloggen mislukt","request/text":"<p>Beste,<br>\n<br>\nEr is tijdens het inloggen een fout opgetreden:<br>\n<br>\n@{outputs('Login')?['body']}<br>\n<br>\nParameters:<br>\nURL: @{variables('URL')}<br>\nUsername: @{variables('Username')}<br>\n<br>\nMet vriendelijke groet,<br>\nIndy Maat<br>\n<br>\nAXI<br>\n__________<br>\nOrigineel bericht:<br>\n@{triggerOutputs()?['body/body']}</p>"},"authentication":"@parameters('$authentication')"}},"End_Login_Execution_Failed":{"runAfter":{"Send_Login_Execution_Failed":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Login":["Failed"]},"type":"Scope"}},"runAfter":{"Prepare_Data":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}