solutions/AXIRPA/Workflows/HTTP-Start-69EC29B2-EE4C-EB11-A813-000D3A1CC931.json
{
	"properties": {
		"connectionReferences": {
			"shared_commondataserviceforapps": {
				"runtimeSource": "embedded",
				"connection": {
					"connectionReferenceLogicalName": "axirpa_sharedcommondataserviceforapps_0eb05"
				},
				"api": { "name": "shared_commondataserviceforapps" }
			},
			"shared_uiflow": {
				"runtimeSource": "embedded",
				"connection": {
					"connectionReferenceLogicalName": "axirpa_shareduiflow_ec7f7"
				},
				"api": { "name": "shared_uiflow" }
			}
		},
		"definition": {
			"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
			"contentVersion": "1.0.0.0",
			"parameters": {
				"$connections": { "defaultValue": {}, "type": "Object" },
				"$authentication": {
					"defaultValue": {},
					"type": "SecureObject"
				}
			},
			"staticResults": {
				"Login0": {
					"status": "Succeeded",
					"outputs": {
						"statusCode": "OK",
						"headers": { "Succes": "True" }
					}
				}
			},
			"triggers": {
				"manual": {
					"type": "Request",
					"kind": "Http",
					"inputs": {
						"schema": {
							"type": "object",
							"properties": {
								"Config": {
									"type": "object",
									"properties": {
										"Flowname": { "type": "string" },
										"Username": { "type": "string" },
										"Endpoint": { "type": "string" }
									}
								}
							}
						}
					}
				}
			},
			"actions": {
				"Init_URL": {
					"runAfter": { "Init_Parameters": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "URL", "type": "string" }]
					}
				},
				"Init_Username": {
					"runAfter": { "Init_URL": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "Username", "type": "string" }]
					}
				},
				"Init_Password": {
					"runAfter": { "Init_Username": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "Password", "type": "string" }]
					}
				},
				"List_Flow": {
					"runAfter": { "Init_Password": ["Succeeded"] },
					"type": "OpenApiConnection",
					"inputs": {
						"host": {
							"connectionName": "shared_commondataserviceforapps",
							"operationId": "ListRecords",
							"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
						},
						"parameters": {
							"entityName": "axirpa_flows",
							"$select": "axirpa_flowid",
							"$filter": "axirpa_name eq '@{triggerBody()?['Config']?['Flowname']}'",
							"$top": 1
						},
						"authentication": "@parameters('$authentication')"
					}
				},
				"If_no_Flow_found": {
					"actions": {
						"HTTP_-_Error_-_Flow_Not_Exists": {
							"runAfter": {},
							"type": "Http",
							"inputs": {
								"method": "POST",
								"uri": "@triggerBody()?['Config']?['Endpoint']",
								"body": {
									"success": "false",
									"errors": [
										{
											"message": "Flow \"@{triggerBody()?['Config']?['Flowname']}\" does not exist."
										}
									],
									"request_body": "@triggerBody()"
								}
							}
						},
						"End_No_Flow": {
							"runAfter": {
								"HTTP_-_Error_-_Flow_Not_Exists": ["Succeeded"]
							},
							"type": "Terminate",
							"inputs": { "runStatus": "Succeeded" }
						}
					},
					"runAfter": { "List_Flow": ["Succeeded"] },
					"expression": {
						"equals": [
							"@empty(body('List_Flow')?['value'])",
							"@true"
						]
					},
					"type": "If"
				},
				"Init_FlowID": {
					"runAfter": {},
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "FlowID", "type": "string" }]
					}
				},
				"Init_UserParameterCount": {
					"runAfter": { "Init_FlowID": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [
							{
								"name": "FlowParameterCount",
								"type": "integer",
								"value": 0
							}
						]
					}
				},
				"Init_Parameters": {
					"runAfter": { "Init_UserParameterCount": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [
							{
								"name": "Parameters",
								"type": "object",
								"value": {}
							}
						]
					}
				},
				"If_no_User_Flow_Parameters_found": {
					"actions": {
						"HTTP_-_Error_-_Missing_Parameters": {
							"runAfter": {},
							"type": "Http",
							"inputs": {
								"method": "POST",
								"uri": "@triggerBody()?['Config']?['Endpoint']",
								"body": {
									"success": "false",
									"errors": [
										{
											"message": "Found @{length(body('List_User_Flow_Parameters')?['value'])} user parameters but @{variables('FlowParameterCount')} are required for flow \"@{triggerBody()?['Config']?['Flowname']}\". Are u sure parameters exist for user \"@{triggerBody()?['Config']?['Username']}\"?"
										}
									],
									"request_body": "@triggerBody()"
								}
							}
						},
						"End_Missing_Parameters": {
							"runAfter": {
								"HTTP_-_Error_-_Missing_Parameters": [
									"Succeeded"
								]
							},
							"type": "Terminate",
							"inputs": { "runStatus": "Succeeded" }
						}
					},
					"runAfter": { "List_User_Flow_Parameters": ["Succeeded"] },
					"expression": {
						"and": [
							{
								"equals": [
									"@length(body('List_User_Flow_Parameters')?['value'])",
									0
								]
							},
							{
								"less": [
									"@length(body('List_User_Flow_Parameters')?['value'])",
									"@variables('FlowParameterCount')"
								]
							}
						]
					},
					"type": "If"
				},
				"List_User_Flow_Parameters": {
					"runAfter": {
						"Set_FlowID_and_List_Flow_Parameters": ["Succeeded"]
					},
					"type": "OpenApiConnection",
					"inputs": {
						"host": {
							"connectionName": "shared_commondataserviceforapps",
							"operationId": "ListRecords",
							"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
						},
						"parameters": {
							"entityName": "axirpa_user_flow_parameters",
							"$select": "axirpa_value",
							"$filter": "axirpa_username eq '@{triggerBody()?['Config']?['Username']}' and axirpa_flow_parameter/_axirpa_flow_value eq '@{variables('FlowID')}'",
							"$expand": "axirpa_flow_parameter($select=axirpa_name;$filter=_axirpa_flow_value eq '@{variables('FlowID')}')"
						},
						"authentication": "@parameters('$authentication')"
					}
				},
				"Set_FlowID_and_List_Flow_Parameters": {
					"foreach": "@outputs('List_Flow')?['body/value']",
					"actions": {
						"Set_FlowID": {
							"runAfter": {},
							"type": "SetVariable",
							"inputs": {
								"name": "FlowID",
								"value": "@items('Set_FlowID_and_List_Flow_Parameters')?['axirpa_flowid']"
							}
						},
						"List_Flow_Parameters": {
							"runAfter": { "Set_FlowID": ["Succeeded"] },
							"type": "OpenApiConnection",
							"inputs": {
								"host": {
									"connectionName": "shared_commondataserviceforapps",
									"operationId": "ListRecords",
									"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
								},
								"parameters": {
									"entityName": "axirpa_flow_parameters",
									"$select": "axirpa_name",
									"$filter": "_axirpa_flow_value eq '@{variables('FlowID')}'"
								},
								"authentication": "@parameters('$authentication')"
							}
						},
						"Set_FlowParameterCount": {
							"runAfter": {
								"List_Flow_Parameters": ["Succeeded"]
							},
							"type": "SetVariable",
							"inputs": {
								"name": "FlowParameterCount",
								"value": "@length(body('List_Flow_Parameters')?['value'])"
							}
						}
					},
					"runAfter": { "If_no_Flow_found": ["Succeeded"] },
					"type": "Foreach"
				},
				"If_Login_Failed": {
					"actions": {
						"HTTP_-_Error_-_Login_Failed": {
							"runAfter": {},
							"type": "Http",
							"inputs": {
								"method": "POST",
								"uri": "@triggerBody()?['Config']?['Endpoint']",
								"body": {
									"success": "false",
									"parameters": "@outputs('Login')?['body/Parameters']",
									"errors": [
										{ "message": "Login failed." },
										{
											"message": "@outputs('Login')?['body/ErrorMessage']"
										}
									]
								}
							}
						},
						"End_Login_Failed": {
							"runAfter": {
								"HTTP_-_Error_-_Login_Failed": ["Succeeded"]
							},
							"type": "Terminate",
							"inputs": { "runStatus": "Succeeded" }
						}
					},
					"runAfter": { "Login": ["Succeeded"] },
					"expression": {
						"equals": [
							"@outputs('Login')?['body/Success']",
							"False"
						]
					},
					"type": "If"
				},
				"Login": {
					"runAfter": {
						"Loop_Environment_Variable_Definitions": ["Succeeded"]
					},
					"type": "OpenApiConnection",
					"inputs": {
						"host": {
							"connectionName": "shared_uiflow",
							"operationId": "RunUIFlow_V2",
							"apiId": "/providers/Microsoft.PowerApps/apis/shared_uiflow"
						},
						"parameters": {
							"uiFlowId": "6af867e6-9469-4cb9-93be-42e171198f0c",
							"runMode": "attended",
							"item/URL": "@variables('URL')",
							"item/Username": "@variables('Username')",
							"item/Password": "@variables('Password')"
						},
						"authentication": "@parameters('$authentication')"
					},
					"runtimeConfiguration": {
						"staticResult": {
							"staticResultOptions": "Disabled",
							"name": "Login0"
						},
						"secureData": { "properties": ["inputs"] }
					}
				},
				"Loop_Environment_Variable_Definitions": {
					"foreach": "@outputs('List_Environment_Variable_Definitions')?['body/value']",
					"actions": {
						"List_Environment_Variable_Values": {
							"runAfter": {},
							"type": "OpenApiConnection",
							"inputs": {
								"host": {
									"connectionName": "shared_commondataserviceforapps",
									"operationId": "ListRecords",
									"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
								},
								"parameters": {
									"entityName": "environmentvariablevalues",
									"$select": "value",
									"$filter": "_environmentvariabledefinitionid_value eq '@{items('Loop_Environment_Variable_Definitions')?['environmentvariabledefinitionid']}'",
									"$top": 1
								},
								"authentication": "@parameters('$authentication')"
							},
							"runtimeConfiguration": {
								"secureData": {
									"properties": ["inputs", "outputs"]
								}
							}
						},
						"Switch_Schemaname": {
							"runAfter": {
								"List_Environment_Variable_Values": [
									"Succeeded"
								]
							},
							"cases": {
								"Case_'axirpa_axi_erp_solutions_url'": {
									"case": "axirpa_axi_erp_solutions_url",
									"actions": {
										"Set_URL": {
											"runAfter": {},
											"type": "SetVariable",
											"inputs": {
												"name": "URL",
												"value": "@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"
											}
										}
									}
								},
								"Case_'axirpa_axi_erp_solutions_username'": {
									"case": "axirpa_axi_erp_solutions_username",
									"actions": {
										"Set_Username": {
											"runAfter": {},
											"type": "SetVariable",
											"inputs": {
												"name": "Username",
												"value": "@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"
											}
										}
									}
								},
								"Case_'axirpa_axi_erp_solutions_password'": {
									"case": "axirpa_axi_erp_solutions_password",
									"actions": {
										"Set_Password": {
											"runAfter": {},
											"type": "SetVariable",
											"inputs": {
												"name": "Password",
												"value": "@{body('List_Environment_Variable_Values')?['value']?[0]?.value}"
											}
										}
									}
								}
							},
							"default": { "actions": {} },
							"expression": "@items('Loop_Environment_Variable_Definitions')?['schemaname']",
							"type": "Switch"
						}
					},
					"runAfter": {
						"List_Environment_Variable_Definitions": ["Succeeded"]
					},
					"type": "Foreach",
					"runtimeConfiguration": {
						"concurrency": { "repetitions": 3 }
					}
				},
				"List_Environment_Variable_Definitions": {
					"runAfter": {
						"If_no_User_Flow_Parameters_found": ["Succeeded"]
					},
					"type": "OpenApiConnection",
					"inputs": {
						"host": {
							"connectionName": "shared_commondataserviceforapps",
							"operationId": "ListRecords",
							"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
						},
						"parameters": {
							"entityName": "environmentvariabledefinitions",
							"$select": "schemaname, environmentvariabledefinitionid",
							"$filter": "schemaname eq 'axirpa_axi_erp_solutions_url' or\nschemaname eq 'axirpa_axi_erp_solutions_username' or\nschemaname eq 'axirpa_axi_erp_solutions_password'"
						},
						"authentication": "@parameters('$authentication')"
					}
				},
				"Switch_Flowname": {
					"runAfter": {
						"Loop_through_selected_parameters": ["Succeeded"]
					},
					"cases": {
						"Case__'Betaalopdracht'": {
							"case": "Betaalopdracht",
							"actions": {
								"JSON_parseren": {
									"runAfter": {},
									"type": "ParseJson",
									"inputs": {
										"content": "@variables('Parameters')",
										"schema": {
											"type": "object",
											"properties": {
												"Dagboek": { "type": "string" },
												"Betaaldatum": {
													"type": "string"
												},
												"SEPABetaling": {
													"type": "string"
												},
												"OpnameSEPATransactieNietInEuro": {
													"type": "string"
												},
												"Valuta": { "type": "string" },
												"KlantOfLeverancier": {
													"type": "string"
												},
												"AlleBetaalgroepen": {
													"type": "string"
												},
												"EnkelBetaalgroep": {
													"type": "string"
												},
												"AlleKlantenOfLeveranciersGroepen": {
													"type": "string"
												},
												"EnkelKlantenOfLeveranciersgroep": {
													"type": "string"
												},
												"AlleKlantenOfLeveranciers": {
													"type": "string"
												},
												"EnkelKlantOfLeverancier": {
													"type": "string"
												},
												"Goedgekeurd": {
													"type": "string"
												},
												"Betaalverbod": {
													"type": "string"
												},
												"VanafDocumentdatum": {
													"type": "string"
												},
												"TotEnMetDocumentdatum": {
													"type": "string"
												},
												"VanafVervaldatum": {
													"type": "string"
												},
												"TotEnMetVervaldatum": {
													"type": "string"
												},
												"UitsluitenCreditsaldo": {
													"type": "string"
												},
												"EnkelDocumentenOpTijdVoorKorting": {
													"type": "string"
												},
												"AlleDagboeken": {
													"type": "string"
												},
												"EnkelTransactiesUitDagboek": {
													"type": "string"
												}
											}
										}
									}
								},
								"Betaalopdracht": {
									"runAfter": {
										"JSON_parseren": ["Succeeded"]
									},
									"type": "OpenApiConnection",
									"inputs": {
										"host": {
											"connectionName": "shared_uiflow",
											"operationId": "RunUIFlow_V2",
											"apiId": "/providers/Microsoft.PowerApps/apis/shared_uiflow"
										},
										"parameters": {
											"uiFlowId": "182e7540-ffe4-41e1-bc2b-2bdb63c040ff",
											"runMode": "attended",
											"item/Dagboek": "@body('JSON_parseren')?['Dagboek']",
											"item/Betaaldatum": "@body('JSON_parseren')?['Betaaldatum']",
											"item/SEPABetaling": "@body('JSON_parseren')?['SEPABetaling']",
											"item/OpnameSEPATransactieNietInEuro": "@body('JSON_parseren')?['OpnameSEPATransactieNietInEuro']",
											"item/Valuta": "@body('JSON_parseren')?['Valuta']",
											"item/KlantOfLeverancier": "@body('JSON_parseren')?['KlantOfLeverancier']",
											"item/AlleBetaalgroepen": "@body('JSON_parseren')?['AlleBetaalgroepen']",
											"item/EnkelBetaalgroep": "@body('JSON_parseren')?['EnkelBetaalgroep']",
											"item/AlleKlantenOfLeveranciersgroepen": "@body('JSON_parseren')?['AlleKlantenOfLeveranciersGroepen']",
											"item/EnkelKlantOfLeveranciersgroep": "@body('JSON_parseren')?['EnkelKlantenOfLeveranciersgroep']",
											"item/AlleKlantenOfLeveranciers": "@body('JSON_parseren')?['AlleKlantenOfLeveranciers']",
											"item/EnkelKlantOfLeverancier": "@body('JSON_parseren')?['EnkelKlantOfLeverancier']",
											"item/Goedgekeurd": "@body('JSON_parseren')?['Goedgekeurd']",
											"item/Betaalverbod": "@body('JSON_parseren')?['Betaalverbod']",
											"item/VanafDocumentdatum": "@body('JSON_parseren')?['VanafDocumentdatum']",
											"item/TotEnMetDocumentdatum": "@body('JSON_parseren')?['TotEnMetDocumentdatum']",
											"item/VanafVervaldatum": "@body('JSON_parseren')?['VanafVervaldatum']",
											"item/TotEnMetVervaldatum": "@body('JSON_parseren')?['TotEnMetVervaldatum']",
											"item/UitsluitenCreditsaldo": "@body('JSON_parseren')?['UitsluitenCreditsaldo']",
											"item/EnkelDocumentOpTijdVoorKorting": "@body('JSON_parseren')?['EnkelDocumentenOpTijdVoorKorting']",
											"item/AlleDagboeken": "@body('JSON_parseren')?['AlleDagboeken']",
											"item/EnkelTransactiesUitDagboek": "@body('JSON_parseren')?['EnkelTransactiesUitDagboek']"
										},
										"authentication": "@parameters('$authentication')"
									}
								},
								"If_Betaalopdracht_not_failed": {
									"actions": {
										"HTTP_-_Success": {
											"runAfter": {},
											"type": "Http",
											"inputs": {
												"method": "POST",
												"uri": "@triggerBody()?['Config']?['Endpoint']",
												"body": {
													"success": "true",
													"succes_message": "@outputs('Betaalopdracht')?['body/SuccessMessage']",
													"parameters": "@outputs('Betaalopdracht')?['body/Parameters']",
													"log": "@outputs('Betaalopdracht')?['body/Log']",
													"request_body": "@triggerBody()"
												}
											}
										}
									},
									"runAfter": {
										"Betaalopdracht": ["Succeeded"]
									},
									"else": {
										"actions": {
											"HTTP_-_Error": {
												"runAfter": {},
												"type": "Http",
												"inputs": {
													"method": "POST",
													"uri": "@triggerBody()?['Config']?['Endpoint']",
													"body": {
														"success": "false",
														"parameters": "@outputs('Betaalopdracht')?['body/Parameters']",
														"log": "@outputs('Betaalopdracht')?['body/Log']",
														"errors": [
															{
																"message": "@outputs('Betaalopdracht')?['body/ErrorMessage']"
															}
														],
														"request_body": "@triggerBody()"
													}
												}
											}
										}
									},
									"expression": {
										"equals": [
											"@outputs('Betaalopdracht')?['body/Success']",
											"True"
										]
									},
									"type": "If"
								}
							}
						}
					},
					"default": { "actions": {} },
					"expression": "@triggerBody()?['Config']?['Flowname']",
					"type": "Switch"
				},
				"Loop_through_selected_parameters": {
					"foreach": "@body('Select_Parameters')",
					"actions": {
						"Compose_Parameters": {
							"runAfter": {},
							"type": "Compose",
							"inputs": "@setProperty(variables('Parameters'), item().Name, item().Value)"
						},
						"Variabele_instellen": {
							"runAfter": { "Compose_Parameters": ["Succeeded"] },
							"type": "SetVariable",
							"inputs": {
								"name": "Parameters",
								"value": "@outputs('Compose_Parameters')"
							}
						}
					},
					"runAfter": { "Select_Parameters": ["Succeeded"] },
					"type": "Foreach"
				},
				"Select_Parameters": {
					"runAfter": { "If_Login_Failed": ["Succeeded"] },
					"type": "Select",
					"inputs": {
						"from": "@outputs('List_User_Flow_Parameters')?['body/value']",
						"select": {
							"Name": "@item()?['axirpa_flow_parameter/axirpa_name']",
							"Value": "@if(equals(item()?['axirpa_value'], null), '', item()?['axirpa_value'])"
						}
					}
				}
			},
			"outputs": {}
		}
	},
	"schemaVersion": "1.0.0.0"
}
