solutions/AXIRPA/Workflows/InstalleerFlowsenParameters-D8B19532-664F-EB11-A813-000D3A1CC931.json
{
	"properties": {
		"connectionReferences": {
			"shared_commondataserviceforapps": {
				"runtimeSource": "embedded",
				"connection": {
					"connectionReferenceLogicalName": "axirpa_sharedcommondataserviceforapps_0eb05"
				},
				"api": { "name": "shared_commondataserviceforapps" }
			}
		},
		"definition": {
			"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
			"contentVersion": "1.0.0.0",
			"parameters": {
				"$connections": { "defaultValue": {}, "type": "Object" },
				"$authentication": {
					"defaultValue": {},
					"type": "SecureObject"
				}
			},
			"triggers": {
				"manual": {
					"type": "Request",
					"kind": "Button",
					"inputs": {
						"schema": {
							"type": "object",
							"properties": {},
							"required": []
						}
					}
				}
			},
			"actions": {
				"Parse_Static_Data": {
					"runAfter": {},
					"type": "ParseJson",
					"inputs": {
						"content": {
							"Flows": [
								{
									"Name": "Betaalopdracht",
									"Parameters": [
										"Dagboek",
										"Betaaldatum",
										"SEPABetaling",
										"OpnameSEPATransactieNietInEuro",
										"Valuta",
										"KlantOfLeverancier",
										"AlleBetaalgroepen",
										"EnkelBetaalgroep",
										"AlleKlantenOfLeveranciersGroepen",
										"EnkelKlantenOfLeveranciersgroep",
										"AlleKlantenOfLeveranciers",
										"EnkelKlantOfLeverancier",
										"Goedgekeurd",
										"Betaalverbod",
										"VanafDocumentdatum",
										"TotEnMetDocumentdatum",
										"VanafVervaldatum",
										"TotEnMetVervaldatum",
										"UitsluitenCreditsaldo",
										"EnkelDocumentenOpTijdVoorKorting",
										"AlleDagboeken",
										"EnkelTransactiesUitDagboek"
									]
								}
							]
						},
						"schema": {
							"type": "object",
							"properties": {
								"Flows": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Name": { "type": "string" },
											"Parameters": {
												"type": "array",
												"items": { "type": "string" }
											}
										},
										"required": ["Name", "Parameters"]
									}
								}
							}
						}
					}
				},
				"Loop_Flows": {
					"foreach": "@body('Parse_Static_Data')?['Flows']",
					"actions": {
						"Loop_Parameters": {
							"foreach": "@items('Loop_Flows')?['Parameters']",
							"actions": {
								"List_Flow_Parameter": {
									"runAfter": {},
									"type": "OpenApiConnection",
									"inputs": {
										"host": {
											"connectionName": "shared_commondataserviceforapps",
											"operationId": "ListRecords",
											"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
										},
										"parameters": {
											"entityName": "axirpa_flow_parameters",
											"$select": "axirpa_flow_parameterid",
											"$filter": "axirpa_name eq '@{items('Loop_Parameters')}' and _axirpa_flow_value eq '@{variables('FlowID')}'",
											"$top": 1
										},
										"authentication": {
											"type": "Raw",
											"value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
										}
									}
								},
								"If_Flow_Parameter_Does_Not_Exist": {
									"actions": {
										"Create_Parameter": {
											"runAfter": {},
											"type": "OpenApiConnection",
											"inputs": {
												"host": {
													"connectionName": "shared_commondataserviceforapps",
													"operationId": "CreateRecord",
													"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
												},
												"parameters": {
													"entityName": "axirpa_flow_parameters",
													"item/axirpa_name": "@items('Loop_Parameters')"
												},
												"authentication": {
													"type": "Raw",
													"value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
												}
											}
										},
										"Relate_Flow_To_Parameter": {
											"runAfter": {
												"Create_Parameter": [
													"Succeeded"
												]
											},
											"type": "OpenApiConnection",
											"inputs": {
												"host": {
													"connectionName": "shared_commondataserviceforapps",
													"operationId": "AssociateEntities",
													"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
												},
												"parameters": {
													"entityName": "axirpa_flows",
													"recordId": "@variables('FlowID')",
													"associationEntityRelationship": "axirpa_flow_parameter_axirpa_flow_fk",
													"item/@odata.id": "@outputs('Create_Parameter')?['body/@odata.id']"
												},
												"authentication": {
													"type": "Raw",
													"value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
												}
											}
										},
										"Toevoegen_aan_een_matrixvariabele": {
											"runAfter": {
												"Relate_Flow_To_Parameter": [
													"Succeeded"
												]
											},
											"type": "AppendToArrayVariable",
											"inputs": {
												"name": "Parameters",
												"value": {
													"Flow": "@items('Loop_Flows')?['Name']",
													"Parameter": "@outputs('Create_Parameter')?['body/axirpa_name']"
												}
											}
										}
									},
									"runAfter": {
										"List_Flow_Parameter": ["Succeeded"]
									},
									"expression": {
										"equals": [
											"@empty(body('List_Flow_Parameter')?['value'])",
											"@true"
										]
									},
									"type": "If"
								}
							},
							"runAfter": { "Loop_Flow": ["Succeeded"] },
							"type": "Foreach",
							"runtimeConfiguration": {
								"concurrency": { "repetitions": 50 }
							}
						},
						"List_Flow": {
							"runAfter": {},
							"type": "OpenApiConnection",
							"inputs": {
								"host": {
									"connectionName": "shared_commondataserviceforapps",
									"operationId": "ListRecords",
									"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
								},
								"parameters": {
									"entityName": "axirpa_flows",
									"$select": "axirpa_flowid, axirpa_name",
									"$filter": "axirpa_name eq '@{items('Loop_Flows')?['Name']}'",
									"$top": 1
								},
								"authentication": {
									"type": "Raw",
									"value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
								}
							}
						},
						"If_Flow_Does_Not_Exist": {
							"actions": {
								"Create_Flow": {
									"runAfter": {},
									"type": "OpenApiConnection",
									"inputs": {
										"host": {
											"connectionName": "shared_commondataserviceforapps",
											"operationId": "CreateRecord",
											"apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
										},
										"parameters": {
											"entityName": "axirpa_flows",
											"item/axirpa_name": "@items('Loop_Flows')?['Name']"
										},
										"authentication": {
											"type": "Raw",
											"value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
										}
									}
								},
								"Add_Flow": {
									"runAfter": {
										"Set_New_FlowID": ["Succeeded"]
									},
									"type": "AppendToArrayVariable",
									"inputs": {
										"name": "Flows",
										"value": "@outputs('Create_Flow')?['body/axirpa_name']"
									}
								},
								"Set_New_FlowID": {
									"runAfter": {
										"Create_Flow": ["Succeeded"]
									},
									"type": "SetVariable",
									"inputs": {
										"name": "FlowID",
										"value": "@outputs('Create_Flow')?['body/axirpa_flowid']"
									}
								}
							},
							"runAfter": { "List_Flow": ["Succeeded"] },
							"expression": {
								"equals": [
									"@empty(body('List_Flow')?['value'])",
									"@true"
								]
							},
							"type": "If"
						},
						"Loop_Flow": {
							"foreach": "@outputs('List_Flow')?['body/value']",
							"actions": {
								"Set_Existing_FlowID": {
									"runAfter": {},
									"type": "SetVariable",
									"inputs": {
										"name": "FlowID",
										"value": "@items('Loop_Flow')?['axirpa_flowid']"
									}
								}
							},
							"runAfter": {
								"If_Flow_Does_Not_Exist": ["Succeeded"]
							},
							"type": "Foreach"
						}
					},
					"runAfter": { "Init_Parameters": ["Succeeded"] },
					"type": "Foreach",
					"runtimeConfiguration": {
						"concurrency": { "repetitions": 50 }
					}
				},
				"Init_FlowID": {
					"runAfter": { "Parse_Static_Data": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "FlowID", "type": "string" }]
					}
				},
				"Init_Flows": {
					"runAfter": { "Init_FlowName": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "Flows", "type": "array" }]
					}
				},
				"Init_Parameters": {
					"runAfter": { "Init_Flows": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "Parameters", "type": "array" }]
					}
				},
				"Init_FlowName": {
					"runAfter": { "Init_FlowID": ["Succeeded"] },
					"type": "InitializeVariable",
					"inputs": {
						"variables": [{ "name": "FlowName", "type": "string" }]
					}
				}
			},
			"outputs": {}
		}
	},
	"schemaVersion": "1.0.0.0"
}
